<ion-view view-title="Categorias">
  <ion-content>
    <div class="list">
      <!--Mesmo com a mesma imagem a definicao muda a exibicao da img. Um avatar eh arredondado e menor e o tbn quadrado e maior -->
      <a href="#" class="item item-thumbnail-left">
        <img src="http://placehold.it/80x80" alt="Avatar">
        <h2>Item 01</h2>
        <p>UAHUAHUAhuHUAhUAhU</p>
      </a>
      <a href="#" class="item item-thumbnail-left">
        <img src="http://placehold.it/80x80" alt="Avatar">
        <h2>Item 02</h2>
        <p>UAHUAHUAhuHUAhUAhU</p>
      </a>
      <a href="#" class="item item-thumbnail-left">
        <img src="http://placehold.it/80x80" alt="Avatar">
        <h2>Item 03</h2>
        <p>UAHUAHUAhuHUAhUAhU</p>
      </a>
      <a href="#" class="item item-thumbnail-left">
        <img src="http://placehold.it/80x80" alt="Avatar">
        <h2>Item 04</h2>
        <p>UAHUAHUAhuHUAhUAhU</p>
      </a>
      <a href="#" class="item item-thumbnail-left">
        <img src="http://placehold.it/80x80" alt="Avatar">
        <h2>Item 05</h2>
        <p>UAHUAHUAhuHUAhUAhU</p>
      </a>
      <a href="#" class="item item-thumbnail-left">
        <img src="http://placehold.it/80x80" alt="Avatar">
        <h2>Item 06</h2>
        <p>UAHUAHUAhuHUAhUAhU</p>
      </a>
      <a href="#" class="item item-thumbnail-left">
        <img src="http://placehold.it/80x80" alt="Avatar">
        <h2>Item 07</h2>
        <p>UAHUAHUAhuHUAhUAhU</p>
      </a>
      <a href="#" class="item item-thumbnail-left">
        <img src="http://placehold.it/80x80" alt="Avatar">
        <h2>Item 08</h2>
        <p>UAHUAHUAhuHUAhUAhU</p>
      </a>
      <a href="#" class="item item-thumbnail-left">
        <img src="http://placehold.it/80x80" alt="Avatar">
        <h2>Item 09</h2>
        <p>UAHUAHUAhuHUAhUAhU</p>
      </a>
      <a href="#" class="item item-thumbnail-left">
        <img src="http://placehold.it/80x80" alt="Avatar">
        <h2>Item 10</h2>
        <p>UAHUAHUAhuHUAhUAhU</p>
      </a>
    </div>
  </ion-content>
</ion-view>
