<ion-view view-title="Home Page">
  <ion-content align="center" class="padding">
    <ion-panel class="padding" align="justify">
      <h1 align="center">Mapa do Bem</h1>
      <p>O Mapa do Bem abrange oito comunidades da cidade de Vitória: São Benedito,

Itararé, Floresta, Jaburu, Engenharia, Consolação, Bairro da Penha e Bonfim. O objetivo deste projeto é buscar valorizar as comunidades, contribuindo para a estruturação das

cadeias produtivas e de valor do local, além de gerar impactos no crescimento da economia local,

elevando os níveis de produtividade, de oportunidades de emprego, geração de renda,

potencializando, assim, a cultura e o desenvolvimento social.</p><br />
      <label class="item item-input">
        <input type="text" placeholder="Local/Artista de Interesse">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Comunidade">
      </label>
      <div class="button-bar">
        <button class="button button-dark"><i class="ion-beer"></i></button>
        <button class="button button-dark"><i class="ion-android-restaurant"></i></button>
        <button class="button button-dark"><i class="ion-mic-b"></i></button>
        <button class="button button-dark"><i class="ion-wifi"></i></button>
        <button class="button button-dark"><i class="ion-paintbrush"></i></button>
      </div>
      <br /><button class="button button-full button-positive"><i class="ion-search"></i> Procurar</button>
    </ion-panel>
  </ion-content>
</ion-view>
